@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
/*colors*/


--Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);

--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);

--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

body{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: rgb(229, 227, 231);
    margin-block: 30px;
}



.container {
    width: 80%;
    display: grid;
    grid-auto-columns:  1fr;
    grid-auto-rows:  100px;
    grid-template-areas:
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box4 box5 box3"
    "box6 box4 box5 box3"
    "box6 box4 box5 box3"
    "box6 box7 box8 box8"
    "box6 box7 box8 box8"
    "box6 box7 box8 box8"
    ;
    gap: 30px;
    margin: auto;
}

.container .box{
    border-radius: 10px;
}
.font{
    font-size: 2.12rem ;
    font-weight: 700;
    line-height: 1;
}
.white-font{
    font-size: 2rem;
    color: var(--White);
    line-height: 1;
}
/*=======================box1=====================*/
.container .box:nth-child(1){
    grid-area: box1;
    background-color: var(--Yellow-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    text-align: left;
    padding: 6rem ;
}

.container .box:nth-child(1) span{
    color: var(--Purple-500);
}
.container .box:nth-child(1) img{
    margin-top: 20px;
}

/*=====================box2======================*/
.container .box:nth-child(2){
    grid-area: box2;
    background-color: var(--Purple-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--White);
    line-height: 1;
    text-align: center;
}
.container .box:nth-child(2) span{
    color: var(--Yellow-500);
}
.container .box:nth-child(2) img{
    margin-block: 20px 10px;
    width: 40%;
}

/*=====================box3======================*/
.container .box:nth-child(3){
    grid-area: box3;
    background-color: var(--Purple-100);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: last baseline;
    line-height: 1.02;
    padding: 50px 0 30px 50px;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight:600;
    gap: 20px;
}


.container .box:nth-child(3) img{
    object-fit: cover;
    position: relative;
    height: 400px;
    object-position: left;
    left: 22px;
    margin-block: -80px;
   
}

/*=====================box4======================*/
.container .box:nth-child(4){
    grid-area: box4;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 30px;
}


.container .box:nth-child(4) img{
   
    position: relative;
    object-fit: cover;
    height: 85px;
    object-position: left;
    right: -63px;
}
/*=====================box5======================*/

.container .box:nth-child(5){
    grid-area: box5;
    background-color: var(--Yellow-500);
    padding: 30px 30px 0;
    overflow: hidden;
}
.container .box:nth-child(5) img{
    position: relative;
    bottom: -60px;
}

/*=====================box6======================*/
.container .box:nth-child(6){
    grid-area: box6;
    background-color: var(--Yellow-500);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 10px 30px;
   
}

/*=====================box7======================*/
.container .box:nth-child(7){
    grid-area: box7;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 50px;
    
}
.container .box:nth-child(7) span{
    font-size: 5rem;
    font-weight: 500;
}
.container .box:nth-child(7) p{
    font-size: 1.40rem;
    font-weight: 500;
}

/*=====================box8======================*/
.container .box:nth-child(8){
    grid-area: box8;
    background-color: var(--Purple-500);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30px;
    gap: 10px;
}

.container .box:nth-child(8) img{
    height: 280px;
}


/*============================================
                     media query
==============================================*/

@media (max-width:1560px) {

    .font{
        font-size: 1.5rem ;
        font-weight: 700;
        line-height: 1;
    }
    /*=====================box3======================*/
.container .box:nth-child(3){
    grid-area: box3;
    background-color: var(--Purple-100);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: last baseline;
    line-height: 1.02;
    padding: 50px 0 30px 50px;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    font-weight:600;
    gap: 20px;
}

.container .box:nth-child(3) img{
    object-fit: cover;
    position: relative;
    height: 300px;
    object-position: left;
    left: 10px;
    margin-block: -80px;
   
}
/*=====================box8======================*/
.container .box:nth-child(8){
    grid-area: box8;
    background-color: var(--Purple-500);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.container .box:nth-child(8) img{
    height: 200px;
}
}

/*===================================*/

@media (max-width:1300px)
{
    .container {
        width: 80%;
        display: grid;
        grid-auto-columns:  1fr;
        grid-auto-rows:  200px;
        grid-template-areas:
        "box1 box1 box2 box2"
        "box1 box1 box2 box2"
        "box3 box3 box4 box4"
        "box3 box3 box4 box4"
        "box5 box5 box6 box6"
        "box5 box5 box6 box6"
        "box7 box7 box8 box8"
        "box7 box7 box8 box8"
        ;
        gap: 30px;
        margin: auto;
    }

    .font{
        font-size: 1.50rem ;
        font-weight: 700;
        line-height: 1;
    }

    .white-font{
        font-size: 1.90rem;
        color: var(--White);
        line-height: 1;
    }

    .container .box:nth-child(1){
        text-align: center;
        align-items: center;
        padding: 5rem ;
    }
    
    .container .box:nth-child(1) img{
        width:80%;
    }

    /*=====================box3======================*/
    .container .box:nth-child(3){
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        text-align: center;
        padding: 20px;
        text-align: center;
    }

    .container .box:nth-child(3) img{
        height: 300px;
        width: 100%;
        border-radius: 10px;
        margin-block: initial;
        object-fit: contain;
        object-position: center;
        left: initial;
       
    }

    /*=====================box4======================*/
    .container .box:nth-child(4){
        padding: 20px;
    }

    .container .box:nth-child(4) img{
        position: relative;
        object-fit: contain;
        object-position: center;
        right: 0;
    }
    /*=====================box5======================*/

    .container .box:nth-child(5){
        grid-area: box5;
        background-color: var(--Yellow-500);
        padding: 100px 30px 0;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        position: relative;
    
    }
    .container .box:nth-child(5) img{
        position: absolute;
        bottom: -30px;
        width: 80%;
        object-fit: contain;
        object-position: center;
    }


/*=============box6=============*/
    .container .box:nth-child(6){
        grid-area: box6;
        background-color: var(--Yellow-500);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        padding: 30px 30px;
        overflow: hidden;
        gap: 10px;
        position: relative;
    
    }
    .container .box:nth-child(6) img{
        width:85%;
        position: relative;
    }
  /*=============box7===========*/
    .container .box:nth-child(7){
        grid-area: box7;
        background-color: var(--White);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 50px;
        
    }
    .container .box:nth-child(7) span{
        font-size: 3.5rem;
        font-weight: 500;
    }
    .container .box:nth-child(7) img{
        width: 80%;
    }

    /*=====================box8======================*/
    .container .box:nth-child(8){
        grid-area: box8;
        background-color: var(--Purple-500);
        display: flex;
        flex-direction: column;
        justify-content:space-around ;
        align-items: center;
        padding: 15px 50px;
        text-align: center;
        gap: 10px;
    }

    .container .box:nth-child(8) img{
       width: 100%;
       height: 300px;
       object-fit: contain;
      
    }


}

